* { 
    color: #444;
    font-family: 'Titillium Web', sans-serif;
}

#app {
    background: #d3ebd5; 
}

.vue-container {
    text-align: center; 
    background: #80bfb7;
}

.vue-out {
    float: right;
}

.textPad {
    padding-left: 25px;
    padding-right: 25px; 
}

.id-container {
    width: 500px; 
    margin: 0 auto; 
}

.feed-container {
    float: right;
    margin: 0 auto;
}