* { 
    color: #444;
    font-family: 'Titillium Web', sans-serif;
}

#app {
    background: #d3ebd5; 
}

.vue-out {
    float: right;
}


.vue-container {
    text-align: center; 
}

.textPad {
    padding-left: 25px;
    padding-right: 25px; 
}